
**/.DS_Store
# OS stuff
Desktop.ini
ehthumbs.db
Thumbs.db
$RECYCLE.BIN/
._*
.DS_Store
.Spotlight-V100
.Trashes


# Compiled files
frontend/dist/

# Config file
frontend/config/config.js

# Node stuff
frontend/node_modules
**/node_modules
.npm
.node_repl_history
.lock-wscript
frontend/logs
*.log
npm-debug.log*