.modalStyle {
    background-color: #fff;
    border-radius: 5px;
    min-height: 300;
    margin: 0 auto;
    padding: 30;
    display: block;
    position: relative;
    max-width: 80%;
    form {
        margin-bottom: 0px;
    }
    .close-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        font-size: 28px;
    }
    .close-icon:focus, .close-icon:hover{
        font-size: 29px;
        color:#2e2c2c
    }
    h3 {
        margin-top: 0px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e8e8e8;
        font-size: 24px;
    }
    label {
        font-size: 12px;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-weight: 400;
        color: #9A9A9A;
    }
}

.backdropStyle {
    padding: 35px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.modal-footer-content {
    border-top: 1px solid #e8e8e8;
    padding: 15px 0px 0px 0px;
    height: 55px;
}
